[submodule "pdq_evaluation"]
	path = pdq_evaluation
	url = https://github.com/Pidongg/pdq_evaluation.git

[submodule "lib/helper"]
	path = lib/helper
	url = https://github.com/example/helper.git
[submodule "qupath-extension-djl"]
	path = qupath-extension-djl
	url = https://github.com/Pidongg/qupath-extension-djl.git
[submodule "ultralytics"]
	path = ultralytics
	url = https://github.com/Pidongg/ultralytics.git
[submodule "vision"]
	path = vision
	url = https://github.com/Pidongg/vision.git
